# Python
**/__pycache__/
**/*.pyc
**/*.pyo

# Virtual environments
**/.env
**/venv/

# scraped images
**/static/data

# Flask
**/instance/

# System
**/.DS_Store
**/.idea/
**/.vscode/

/ft_otp/ft_otp.key

**/ssh_key*
