# Python
**/__pycache__/
**/*.pyc
**/*.pyo

# Virtual environments
**/.env
**/venv/

# scraped images
**/static/data

# Flask
**/instance/

# System
**/.DS_Store
**/.idea/
**/.vscode/

/ft_otp/ft_otp.key

**/ssh_key*
/reverseme/.gdb_history
/reverseme/Level1/.gdb_history
/reverseme/Level1/a.out
/reverseme/Level2/.gdb_history
/reverseme/Level2/a.out
/reverseme/Level3/.gdb_history

stockholm/__pycache__/
stockholm/*.pyc
stockholm/venv/
/reverseme/Level3/a.out
